[submodule "accel_anchor-esrow"]
	path = accel_anchor-esrow
	url = https://github.com/amxrac/accel_anchor-esrow
[submodule "whitelist-transfer-hook"]
	path = whitelist-transfer-hook
	url = https://github.com/amxrac/whitelist-transfer-hook
[submodule "transfer-hook-vault"]
	path = transfer-hook-vault
	url = https://github.com/amxrac/transfer-hook-vault
[submodule "magicblock-er-example"]
	path = magicblock-er-example
	url = https://github.com/amxrac/magicblock-er-example
